body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    background-image: url(../images/big-green-leaves-enhanced-5160x2160-v0-heiqnf0hplca1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto Condensed", serif;
    color: rgb(93, 143, 88);
  }