

.google-font {
  font-family: 'Roboto Condensed', serif;
}

/* Nav bar */
.navbar {
  background-color: rgba(17, 31, 16, 0.7);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin: 10px;
}

.navbar-links a {
  text-decoration: none;
  font-size: larger;
  color: rgb(93, 143, 88);
  font-weight: bolder;
}

.navbar-links a:hover {
  font-style: italic;
}

/* Background picture */
.image-container img {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Content on home page */
.main-container {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.column {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.99);
  height: 400px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.8);
  margin-left: 6%;
  margin-right: 6%;
}

.numbersInput {
  margin-top: 20px;
  width: 50%;
}

.change-color-btn {
  margin-top: 10px;
  font-size: x-small;
  cursor: pointer;
}

.modal {
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  height: 10px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%; 
} 

.close-btn {
  background-color: rgb(17, 31, 16);
  color: rgb(93, 143, 88);
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 600px) {

  nav {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
     justify-content: center;
  }

  nav li {
      margin: 3px;
      font-size: 18px;
      text-align: center;
      width: 100%;
     justify-content: center;
  }

  .main-container {
      flex-direction: column; 
  }

  .column {
      width: 50%; 
      margin: 6% 0 2% 0;
      margin: 0 auto;
      margin-bottom: 50px;
  }
}


  