.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.repoCard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.99);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}

.card h3 {
    color: rgb(93, 143, 88);
}

.card p {
    margin: 0;
}

.button {
    display: block;
    background-color:rgb(93, 143, 88);
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: rgb(123, 173, 120)
}

.classText {
    margin-top: 15px;
    margin-bottom: 15px;
}
